@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quintessential", "Roboto", "Handjet";
    background-color: #111335;
    color: #f1eeee;
    height: 100%;    
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 3rem;
}

.container .logo {
    position: relative;
    top: -1rem;
}

.header {
    display: flex;
    gap: 14rem;
    background-color: #06093a;
    border-radius: 2rem;
    width:40%;
    height: 3rem;
    justify-content: space-between;
    position: relative;
    top: -2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.header h1 {
    font-size: 2rem;
    color: #fff;
}

.header .choice {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    cursor: auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.header .study-option {
    background-color: rgb(255, 0, 0);
}

.timer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer .outer-circle {
    position: relative; 
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    background-color: #424468;
    display: flex;   
    justify-content: center;
    align-items: center;
    top: -2rem;
} 

.timer .middle-circle {
    position: absolute;
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    border: 40px solid rgb(136, 229, 224);
    background-color: transparent; /* Hollow center */
    opacity: .6;
    z-index: 1; /* Between outer and inner circles */
}

.timer .inner-circle {
    width: 80%; 
    height: 80%;
    border-radius: 50%;
    background-color: #111335;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1rem;
    z-index: 2;
}

.timer .inner-circle .time-duration {
    font-size: 4rem;
}

.timer .inner-circle .time-start {
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 0.5rem; 
}

.timer .option {
    position: relative;
    top: 12rem;
    right: 7rem;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    font: inherit; 
    color: inherit; 
    cursor: pointer; 
}

/* Pop-up Modal */
.popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup content */
.popup-content {
    background-color: #fff;
    color: black;
    width: 45vw;
    height: 85vh; 
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.popup-content .popup-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* Close button for the popup */
.popup .close {
    cursor: pointer;
    position: absolute;
    right: 3rem;
}

.first-line {
    width: 90%;
    margin: .5rem auto;
    background-color: gray;
    opacity: .5;
    margin-bottom: 1.5rem;
}

.main-title {
    letter-spacing: 0.2rem;
}

.pop-main {
    display: flex;
    justify-content: space-around;
}

/* Time setting styling */
.time-setting {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(150, 254, 254);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.label-option {
    font-size: 1rem;
    padding: .25rem;
    margin: 0 auto;
}

.time-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.arrow {
    cursor: pointer;
}

#study-time, #break-time {
    font-size: 1.5rem;
    font-weight: 700;
}

/* FONT  */

.pop-font {
    margin-bottom: .5rem;
}

.color-setting, .font-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.element {
    text-align: center;
}
  
.first {
    margin-right: auto;
}
  
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: .8;
    margin:  auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}

.font-setting .circle {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
}
  
  /* Styles for the clicked circle */
.font-setting .circle.clicked {
    background-color: black;
    color: white;
}



/* Style for the OK sign */
.ok-sign {
    position: absolute;
    font-size: 2rem;
    color: black;
    display: block; /* Hidden by default */
}
  
.ok-visible {
    display: none; /* Show when clicked */
}

/* COLOR */
#circle1 {
    background-color: rgb(136, 229, 224);
}
#circle2 {
    background-color: rgb(253, 133, 207);
}
#circle3 {
    background-color: rgb(178, 236, 107);
}

.popup-button {
    margin: 1rem auto;
    background-color: rgb(150, 254, 254);
    font-size: 1.2rem;
    width: 100px;
    min-height: 40px;
    letter-spacing: .2rem;
    border-radius: 2rem;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

#confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

@media (min-width: 700px) and (max-width: 1100px) {
    .header {
        gap: 5rem; 
    }

    .timer .outer-circle {
        width: 280px;
        height: 280px;
    }

    .timer .inner-circle .time-duration {
        font-size: 3rem;
    }

    .popup-content {
        width: 80%;
        height: 50vh;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .label-option {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .time-setting {
        margin: 2rem 0;
        height: 80%;
    }
}

/* Mobile devices */
@media (max-width: 700px) {
    .header {
        gap: .1rem;
        padding: 0;
        width: 70%;
    }

    .header .choice {
        width: 100%;
    }

    .timer .outer-circle {
        width: 250px;
        height: 250px;
    }

    .timer .inner-circle .time-duration {
        font-size: 2rem;
    }

    

    .time-setting {
        margin: 1rem auto;
        width: 35%;
    }

    .timer .option {
        right: 6rem;
    }

    .popup-content {
        width: 80%;
        height: 70%;
        padding: 1rem;
    }

    .popup .close {
        top: 1.8rem;
        right: 2.5rem;
    }

    .time-field {
        gap: .5rem;
    }

    .main-title {
        letter-spacing: 0.1rem;
        font-size: .9rem;
    }

    #study-time, #break-time {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .circle {
        margin:  auto .8rem;
        font-size: 1.2rem;
    }
}